body {
   display: flex;
   /* height:100vh; */
   font-size: 18px;
   font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

a {
    text-decoration: none;
}

header {
    width: 20%;
    background-color: #e7e8f2;
    background-image: linear-gradient(to bottom, rgb(248, 249, 252), #fff);
}
.nav-item {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    width: 100%;
}
.nav-item a{
    width: 100%;
}
.nav-item a button{
    text-align: start;
    width: 90%;
}
.nav-btn {
    /* border: 1px solid #9abac2; */
    border-radius: 5px;
    color:#002831;
}

.groups-values {
    width: 450px;
}

.container {
    width: 100%;
}

.panel-body {
   display: flex;
   /* text-align: center; */
   justify-content: space-around;
}

.page-header h1 {
    border-left: 3px solid #EF7918;
    padding: 15px;
    margin: 25px;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.2;
    width: 10vh;
}
.mt-3 {
    margin: 35px 0;
    align-items: center;
}
.form-group {
    padding: 10px;
    display: block;
    justify-content: start;
}
.form-group button{
    margin: 10px 0;
}
.form-group label{
    margin: 0 10px; 
}
.form-group input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #43d9ff;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: #dff1fd;
}
.values-update {
    margin: 10px;
}
.needle-update {
    margin: 10px 0;
}

.btn-container {
    text-align: center;
}
button {
    /* border: 1px solid #43d9ff; */
    border: none;
    border-radius: 10px;
    /* background: #eafbff; */
    color:#002831;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s all linear;
    background-color: #ffffff00;
}
button.remove-data:hover{
    background-color: #F9322C;
}
button:hover {
    cursor: pointer;
    background-color: #bbefee;
}
.btn-container.check {
   
    margin: 20px 0;
 }
.btn-container.check button:hover {
   background-color: #fbac5f;
   
}
.btn-container.check button{
   font-weight:600;
    padding: 5px 50px ;
   
 }
.create-form {
    padding: 0 250px;
}

.haystacks-list {
    /* padding: 0 250px; */
    width: 100%;
    background-image: linear-gradient(to bottom, #f5f6fa, #fff);
}
.haystack {
    padding: 10px;
    border: 1px solid #43d9ff;
    border-radius: 10px;
    margin: 10px;
    background: #cbf5ff;
}
.haystack__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed;
    padding: 0 0 5px 0;
    margin-bottom: 5px; 
}
.haystack__name {
    font-size: 24px;
    font-weight: 600;
    color: #11667a;
}
.haystack__check {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  background-color: #eee;
}
label {
    font-weight: 600;
}
.needles {
    margin-top: 10px;
}
.needle_value {
    margin: 5px 0;
}

.check {
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.resneed {
    padding: 10px;
}
.result__needles-true {
    display: flex;
    justify-content: space-between;
}
.result__needles-false {
    display: flex;
    justify-content: space-between;
    background-color: #F9322C;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}

.result {
    background-color: #2a2a2a;
    margin: 15px;
    border-radius: 10px;
    color: #fff;
}
.result button {
    color: #fff;
    margin: 10px;
    font-weight: 600;
    width: 50%;
}
.result button:hover {
    color: #000;
}
.head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.result__values{
    max-height: 0; 
    overflow: hidden;
}
.result__values.active-values{
    padding: 25px;
} 
.group {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.result-false{
    color: red;
    font-weight: 500;
}
.group__success {
    font-weight: 800;
    background: #bbefee;
    border-radius: 15px;
    padding: 5px;
    color: #000;
    font-size: 12px;
}
.values__group {
    background-color: #c8e5e1;
    border-radius: 10px;
    margin: 10px;
    padding:15px;
}
.group__head {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    
   }
   .group__head a {
    color: #000;
   }
   .group__head a:hover {
    text-decoration: underline;
   }
   .values__group-values {
    margin: 10px 0;
}

.values__group-value__name {
    margin: 10px 0;
 }
 
 .values__faculty {
    /* text-align: center; */
    font-size:14px;
    font-weight: 500
 }

.sites {
    width: 500px;
}
.site {
    background-color: #fbac5f;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}
.site__head {
    display:flex;
    justify-content: space-between;
}
.site__head a{
    font-weight:500;
    color: #000;
}
.site__head a:hover{
    text-decoration: underline;
}
   
.sites__faculty {
    margin-top: 10px;
}

div#values__groups-values {
    width: 750px;
}

select#options {
    /* background-color: #e4f8ff; */
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}