body {
   display: flex;
   /* height:100vh; */
   font-size: 18px;
   font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

a {
    text-decoration: none;
}

header {
    width: 20%;
    background-color: #e7e8f2;
    background-image: linear-gradient(to bottom, #f5f6fa, #fff);
}
.nav-item {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.nav-item a{
    width: 100%;
}
.nav-item a button{
    width: 100%;
}
.nav-btn {
    border: 1px solid #43d9ff;
    border-radius: 10px;
    background: #eafbff;
    color:#002831;
}
.nav-btn:hover {
    color: #fff;
    background-color: #aee4f0;
}

.container {
    width: 100%;
}

.panel-body {
   display: flex;
   /* text-align: center; */
   justify-content: space-around;
}

.page-header h1 {
    border-left: 3px solid #EF7918;
    padding: 15px;
    margin: 25px;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.2;
    width: 10vh;
}
.mt-3 {
    margin: 35px 0;
    align-items: center;
}
.form-group {
    padding: 10px;
    display: block;
    justify-content: start;
}
.form-group button{
    margin: 10px 0;
}
.form-group label{
    margin: 0 10px; 
}
.form-group input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #43d9ff;
    padding: 15px;
}
.values-update {
    margin: 10px;
}
.needle-update {
    margin: 10px 0;
}

.btn-container {
    text-align: center;
}
button {
    border: 1px solid #43d9ff;
    border-radius: 10px;
    background: #eafbff;
    color:#002831;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s all linear;
}
.form-remove {
    border: 1px solid #F9322C;
    color: #F9322C;
    background-color: #fff;
}
.form-remove:hover {
    background-color:#F9322C;
    color: #fff;
}
button:hover {
    cursor: pointer;
    /* color: #fff; */
    background-color: #aee4f0;
}

.create-form {
    padding: 0 250px;
}

.haystacks-list {
    /* padding: 0 250px; */
    width: 100%;
    background-image: linear-gradient(to bottom, #f5f6fa, #fff);
}
.haystack {
    padding: 10px;
    border: 1px solid #43d9ff;
    border-radius: 10px;
    margin: 10px;
    background: #cbf5ff;
}
.haystack__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed;
    padding: 0 0 5px 0;
    margin-bottom: 5px; 
}
.haystack__name {
    font-size: 24px;
    font-weight: 600;
    color: #11667a;
}
.haystack__check {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  background-color: #eee;
}
.haystack__link {

}
.needles {
    margin-top: 10px;
}
.needle_value {
    margin: 5px 0;
}

.check {
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.resneed {
    padding: 10px;
}
.result__needles-true {
    display: flex;
    justify-content: space-between;
}
.result__needles-false {
    display: flex;
    justify-content: space-between;
    background-color: #F9322C;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}